.entry_header
  .entry_title
    = @display_entry.disp_title
  .entry_actions
    = link_to 'New', all_entries_path, class: 'action'
    \::
    = link_to 'Edit', edit_entry_path(@display_entry.public_id), class: 'action'
    \::
    - @archive_action = @display_entry.archived? ? 'Unarchive' : 'Archive'
    = link_to @archive_action, archive_entry_path(@display_entry.public_id), class: 'action'
