.entry_header
  .entry_title
    = @display_entry.disp_title
  .entry_actions
    = link_to 'New', all_entries_path, class: 'action'
    \::
    = link_to 'Edit', edit_entry_path(@display_entry.id), class: 'action'
    \::
    = link_to 'Archive', archive_entry_path(@display_entry.id), class: 'action'
    \::
    Tag
