.devise_form {
  margin: 10px;

  .devise_btn {
    padding: 5px 25px;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    border: 0;
    display: inline-block;
  }

  a.devise_btn {
    text-decoration: none;
    font-size: 15px;
    line-height: 1.6;
  }

  .reg_btn {
    background-color: darken(#d9edf7, 20%);
  }

  .pw_btn {
    background-color: darken(#d9edf7, 20%);
  }

  .conf_btn {
    background-color: darken(#d9edf7, 20%);
  }
}