body {
  min-width: 900px;
  max-width: 1900px;

  // Inherited from Markdown.less
  font-family: Helvetica, arial, sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

textarea, input {
  font-family: Helvetica, arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
}

.flash {
  z-index: 1;
  text-align: center;
  min-width: @content_min_width;
  max-width: @content_max_width;
}

.flash-message {
  border-radius: 15px;
  margin: 10px;
  padding: 10px 0;
}

.flash-success {
  background-color: #dff0d8;
  opacity: 0.7;
}
.flash-info {
  background-color: #d9edf7;
  opacity: 0.7;
}
.flash-notice {
  background-color: #d9edf7;
  opacity: 0.7;
}
.flash-error {
  background-color: #f2dede;
  opacity: 0.7;
}

.submit {
  padding: 10px 50px;
  background-color: #F2BC0A;
  color: white;
  border-radius: 20px;
  box-shadow: none;
  border: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.sidebar {
  display: block;
  float: left;
}

.entry_form_section {
  margin-bottom: 10px;
}

.form_label {
  display: inline-block;
  margin-right: 10px;
}

.form_field {
  display: inline-block;
}

@entry_list_width: 200px;
.entry_list {
  display: block;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  width: @entry_list_width;
  margin: 10px 10px;

  a, a:visited {
    color: #F2BC0A
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  .entry_item {
    border: 1px solid #dddddd;
    margin: 1px auto;
    padding: 10px;
    min-height: 50px;
    overflow: hidden;
  }
}

.entry {
  padding: 10px;
  border: 1px solid black;
  width: 644px;
}

.metadata {
  padding: 0px 10px;
  border: 1px solid #dddddd;
}

.entry_header {
  width: 500px;
  text-align: center;

  .entry_title {
    margin: 0 10px;
    display: block;
    font-weight: bold;
    font-style: italic;
  }

  .entry_actions {
    margin: 0 10px;
    display: inline-block;

    a, a:visited {
      color: #F2BC0A
    }

    a:hover {
      color: black;
    }
  }

  .action {
    margin: 0 5px;
  }
}

@content_min_width: 400px;
@content_max_width: 1000px;
.main_content {
  display: block;
  float: left;
  margin: 10px 0;
  margin-left: @entry_list_width + 25px;
  padding: 0 25px;
  min-width: @content_min_width;
  max-width: @content_max_width;
}

.splash {
  .hero {
    border: 1px solid black;
    margin: 10px;
    text-align: center;
  }

  .head {
    font-size: 40px;
  }
}